<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Price">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="origin" property="origin" />
        <result column="currency" property="currency" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, origin, currency
    </sql>

    <select id="pageC" resultType="com.example.demo.entity.Price">
        select * from Price
    </select>
    <select id="pageCC" resultType="com.example.demo.entity.Price">
        select * from Price ${ew.customSqlSegment}
    </select>
</mapper>
